 /* Container */
 .container-page {
     width: min(100% - clamp(4rem, 5vw, 5rem), 81.25rem);
     margin-inline: auto;
 }

 .container-player {
     width: min(100% - clamp(1rem, 5vw, 4rem), 68.75rem);
     margin-inline: auto;
 }


 /* Carousel */
 .carousel-scroll {
     -ms-overflow-style: none;
     scrollbar-width: none;
 }

 .carousel-scroll::-webkit-scrollbar {
     display: none;
 }
